html{
    box-sizing: border-box;
}


*{
    margin: 0;
    color: rgb(95, 94, 95);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* *,
*:before,
*:after {
    box-sizing: inherit;
} */
.logo-href{
    cursor: pointer;
}
h1{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 2rem;
}

a
{
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
}

/* HEADER */
.main-header{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid grey;
    height: 4rem;
    z-index: 1000;
}

.main-header i{
   margin:0 1% 0 1%;
}

.main-header a{
    width: 22%;
    height: 100%;
    flex-shrink: 1;
}

.main-header img{
    width: 100%;   
}

#search-stock{
    width: 25%;
    height: 2rem;
    border:1px solid #207EB1;    
    border-radius: 8px;
    font-size: 1.2rem;
    margin: 0 0.5% 0 3%;
    flex-shrink: 1;
    outline: none;
    padding-left: 6px;
}

.header-menu
{
    margin-left: 6%;
    width: 30%;
    position: right;
}

.header-menu  ul
{
    padding:0;
    list-style: none;
    flex-wrap: nowrap;
}

.header-menu ul li 
{    
    display:inline-block;
    margin:0 1%;
    
}

.profile 
{
    width: 20%;
    flex-shrink: auto;
}

.header-menu img
{
    margin-left: 10%;
    width: 19%;
    height: auto;
}

.logout{
   
    background-color: red;   
    padding: 2% 0% 2% 4%;
    width: 20%;
    height: 20%;
    border-radius: 20px;
}

.logout a, .logout i{
    color: white;
}

/* MAIN */

/* MENU-ADD */
.main-index{
    background-image: url("./images/537620.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
   
}

.menu-adds h1{
    margin: 1% 0 2% 2%;
}

main .menu-adds{
    border: 1px solid white;
    margin: 2%;
    border-radius: 5px;
    background: white;
    display: flex;
    flex-direction: column;
}

.menu-adds .main-content
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.stock-menu > ul > li{
    position: static;   
}

.stock-menu ul li a{
    display: block;
}

 .stock-menu ul ul{
    position: relative;   
    display: none;  
    top: -109%; 
    left: 100%;
    background-color: rgb(109, 167, 255);    
    border-top-right-radius: 5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}


.stock-menu ul li:hover > ul{
    display: block;
} 



/* POP-UP MENU */
/* .pop-up-menu
{
    position: absolute;
    left: -32;
    top: 25%;
    width: 4%;
} */










.main-content{
    margin: 0 1% 1% 0%;
}

.main-content nav{
    margin-right: 3%;
    margin-left: none;
    width: 30%;
}

.stock-menu ul{       
    padding:0;
    list-style: none;
}

.stock-menu ul i{       
    margin-right: 5%;
}

.stock-menu ul li {   
    width: 100%;
    height: 2rem;
    padding-left: 10%;
    padding-top: 5%;   
}

.stock-menu ul li a{
    text-overflow: ellipsis;
} 
.stock-menu ul li:hover{    
    background-color: rgb(109, 167, 255);
    width: 91%;
}

.stock-menu .stock-detailed li:hover{    
    background-color: rgb(109, 167, 255);
    width: 100%;
}

.stock-menu .stock-detailed li{    
  padding-left: 0;
  text-align: center;
}

.advertisements{
    width: 100%;
    height: auto;
    
    border-radius: 5px;    
}

.stock-detailed{
    z-index: 100;
}




/* SITE-INFO */
.site-info{
    border: 1px solid white;
    margin: 2%;
    border-radius: 5px;
    background: white;
    height: 40%;
    display: flex;
    flex-direction: column;
}

.site-info .advertisements{
    height: 20rem;
    background-image: url("./images/add.png");
    background-size: contain;
}
.changing-adds{
    background-color: white;
    height:3rem;
}


/* BEST-SALES */
.top-products{
    margin: 2%;   
    height: 40%;
    display: flex;
    flex-direction: column;
}

.top-products h2
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.top-products h3
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 1rem;
}

.products{
    margin: 2%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.top-products article{
    width: 18%;
    height: 20rem;
    border: 1px solid white;
    border-radius: 7px;
    background-color: white;
}

.top-products .image{
    width: 100%;
    height: 70%;
}

.top-products .product .image img
{
    height: 100%;
    width: 100%;
}

.top-products .product-name{
    width: 100%;
    height: 20%;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;    
}

.top-products .product-price{
    text-align: right;
}

.top-products .changing-adds{
    background-color: white;
    height:2rem;
    border-radius: 7px;
}

/* FOOTER */

footer{
    background-color: #333333;
    display: flex;
    flex-direction: column;
}

footer .info-sections{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid grey;
    padding: 1%;
}

footer .section-header
{
    color: white;
    font-size: 1.2rem;
}

footer ul li a{
    color: white;
    font-size: 0.9rem;
    font-style: normal;    
}

footer ul li a:hover{
    color: #207EB1;
     
}

footer ul
{
    list-style: none;
    padding-left: 0;
}

.copyright{
    padding: 2%;
}

.copyright p{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* PHONE VERSION */

@media only screen and (min-width: 150px) and (max-width: 600px){


     /* HEADER */
    .main-header{       
        justify-content: space-around; 
        padding: 1%;       
    }

    /* body,main .main-header, .menu-adds,.site-info,footer, .info-sections{ */
    
        body
        {
            display: flex;
            flex-direction: column;
            width: auto;
            
        }



    .main-header a{
        width: 0%;
        height:0%;
        flex-shrink: 1;
    }
    

    .header-menu
    {
        margin-left: 30%;
        width: 60%;
        align-items: center;
    }

    .header-menu img
    {
        margin-left: 10%;
        width: 25%;
        height: auto;
    }

    .profile, .language, .logout{
        font-size: 0%;
        width: 10%;
    }

    .language img {
        width: 16px;
    }

    .logout
    {
        border: none;
        background-color: white;
    }


    .profile i, .logout i{
        font-size: 1rem;
        margin: 4%;
        color:rgb(95, 94, 95);
    }

    .logout i{
        color: red;
    }
    


    /* MENU */
    .menu-adds .main-content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stock-menu ul ul{
    
    top: 10%; 
    left: -9.5%;    
    border-radius:5px;
}

.menu-adds .main-content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.main-content nav{
    margin-right: 3%;
    margin-left: none;
    width: 100%;
}

.stock-menu ul{       
    padding:0;
    list-style: none;
}

.stock-menu ul i{       
    margin-right: 5%;
}

.stock-menu ul li {   
    width: 100%;
    height: 2rem;
    width: 100%;
    padding-left: 10%;
    padding-top: 5%;   
}

.stock-menu ul li a{
    text-overflow: ellipsis;
} 

.stock-menu ul li:hover{    
    background-color: rgb(231, 231, 231);
    color:white;
}

.advertisements{
    width: 100%;
    height: 10rem;
    background-image: url("./images/1691943.jpg");
    background-size: cover;
    border-radius: 5px;    
}


/* FOOTER */


footer .info-sections{
    display: flex;
    flex-direction: column;
}

}